In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('01').getOrCreate()

In [4]:
spark

In [11]:
df=spark.read.csv("data_2.csv")

In [12]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [13]:
df.show()

+---+----------+----------+--------------------+-----------+---------------+--------------+
|_c0|       _c1|       _c2|                 _c3|        _c4|            _c5|           _c6|
+---+----------+----------+--------------------+-----------+---------------+--------------+
| id|first_name| last_name|               email|     gender|     ip_address|       country|
|  1|     Rodie|    Hannam|   rhannam0@1und1.de|       null|           null|   New Zealand|
|  2|     Berti|  Gentreau|bgentreau1@dedecm...|       null| 242.147.229.20|      Portugal|
|  3|    Corbin|   Manford|                null|       null|           null|        Poland|
|  4|  Juliette|    Fripps|                null|       null|246.169.138.151|Czech Republic|
|  5|  Melloney|  Tasseler|                null|       null|  145.215.70.69|        Brazil|
|  6|   Shannon| d' Elboux|sdelboux5@blogtal...|       null|  209.48.24.217|          Chad|
|  7|  L;urette|     Dahle|                null|       null|           null|         China|
|  8|  Brewster|      Doey|                null|       null|           null|         China|
|  9|   Madalyn|   Harding|                null|       null|           null|       Tunisia|
| 10|  Eleanore|Stonebanks|                null|       null|           null|        Brazil|
| 11|  Guillema| Antonchik|gantonchika@brave...|       null| 21.110.111.246|  South Africa|
| 12|     Laird|  Thackham|lthackhamb@weibo.com|       null|           null|      Thailand|
| 13|   Lauritz| Antonikov|                null|       null|           null|     Indonesia|
| 14|    Leslie|   Perrygo|                null|       Male|           null|         China|
| 15|     Dione|   Cacacie|                null|       null| 83.193.206.160|      Slovenia|
| 16|   Tymothy|   Seville| tsevillef@wikia.com|Genderqueer|           null|      Thailand|
| 17|  Gertrude|Feldberger|gfeldbergerg@zimb...|       null|           null|      Colombia|
| 18|   Giorgia|    Bridat| gbridath@discuz.net|       null|           null|        Poland|
| 19|    Gunter|   Curphey| gcurpheyi@alexa.com|       null|           null|         Chile|
+---+----------+----------+--------------------+-----------+---------------+--------------+
only showing top 20 rows

In [14]:
df=spark.read.csv('data_2.csv',header=True,inferSchema=True)

In [16]:
df.show()

+---+----------+----------+--------------------+-----------+---------------+--------------+
| id|first_name| last_name|               email|     gender|     ip_address|       country|
+---+----------+----------+--------------------+-----------+---------------+--------------+
|  1|     Rodie|    Hannam|   rhannam0@1und1.de|       null|           null|   New Zealand|
|  2|     Berti|  Gentreau|bgentreau1@dedecm...|       null| 242.147.229.20|      Portugal|
|  3|    Corbin|   Manford|                null|       null|           null|        Poland|
|  4|  Juliette|    Fripps|                null|       null|246.169.138.151|Czech Republic|
|  5|  Melloney|  Tasseler|                null|       null|  145.215.70.69|        Brazil|
|  6|   Shannon| d' Elboux|sdelboux5@blogtal...|       null|  209.48.24.217|          Chad|
|  7|  L;urette|     Dahle|                null|       null|           null|         China|
|  8|  Brewster|      Doey|                null|       null|           null|         China|
|  9|   Madalyn|   Harding|                null|       null|           null|       Tunisia|
| 10|  Eleanore|Stonebanks|                null|       null|           null|        Brazil|
| 11|  Guillema| Antonchik|gantonchika@brave...|       null| 21.110.111.246|  South Africa|
| 12|     Laird|  Thackham|lthackhamb@weibo.com|       null|           null|      Thailand|
| 13|   Lauritz| Antonikov|                null|       null|           null|     Indonesia|
| 14|    Leslie|   Perrygo|                null|       Male|           null|         China|
| 15|     Dione|   Cacacie|                null|       null| 83.193.206.160|      Slovenia|
| 16|   Tymothy|   Seville| tsevillef@wikia.com|Genderqueer|           null|      Thailand|
| 17|  Gertrude|Feldberger|gfeldbergerg@zimb...|       null|           null|      Colombia|
| 18|   Giorgia|    Bridat| gbridath@discuz.net|       null|           null|        Poland|
| 19|    Gunter|   Curphey| gcurpheyi@alexa.com|       null|           null|         Chile|
| 20|  Kimberli|     Mebes|  kmebesj@discuz.net|       null| 104.251.52.175|        Poland|
+---+----------+----------+--------------------+-----------+---------------+--------------+

In [17]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)
 |-- country: string (nullable = true)

In [18]:
type(df)

pyspark.sql.dataframe.DataFrame

In [19]:
df.head(3)

[Row(id=1, first_name='Rodie', last_name='Hannam', email='rhannam0@1und1.de', gender=None, ip_address=None, country='New Zealand'),
 Row(id=2, first_name='Berti', last_name='Gentreau', email='bgentreau1@dedecms.com', gender=None, ip_address='242.147.229.20', country='Portugal'),
 Row(id=3, first_name='Corbin', last_name='Manford', email=None, gender=None, ip_address=None, country='Poland')]

In [21]:
df.show()

+---+----------+----------+--------------------+-----------+---------------+--------------+
| id|first_name| last_name|               email|     gender|     ip_address|       country|
+---+----------+----------+--------------------+-----------+---------------+--------------+
|  1|     Rodie|    Hannam|   rhannam0@1und1.de|       null|           null|   New Zealand|
|  2|     Berti|  Gentreau|bgentreau1@dedecm...|       null| 242.147.229.20|      Portugal|
|  3|    Corbin|   Manford|                null|       null|           null|        Poland|
|  4|  Juliette|    Fripps|                null|       null|246.169.138.151|Czech Republic|
|  5|  Melloney|  Tasseler|                null|       null|  145.215.70.69|        Brazil|
|  6|   Shannon| d' Elboux|sdelboux5@blogtal...|       null|  209.48.24.217|          Chad|
|  7|  L;urette|     Dahle|                null|       null|           null|         China|
|  8|  Brewster|      Doey|                null|       null|           null|         China|
|  9|   Madalyn|   Harding|                null|       null|           null|       Tunisia|
| 10|  Eleanore|Stonebanks|                null|       null|           null|        Brazil|
| 11|  Guillema| Antonchik|gantonchika@brave...|       null| 21.110.111.246|  South Africa|
| 12|     Laird|  Thackham|lthackhamb@weibo.com|       null|           null|      Thailand|
| 13|   Lauritz| Antonikov|                null|       null|           null|     Indonesia|
| 14|    Leslie|   Perrygo|                null|       Male|           null|         China|
| 15|     Dione|   Cacacie|                null|       null| 83.193.206.160|      Slovenia|
| 16|   Tymothy|   Seville| tsevillef@wikia.com|Genderqueer|           null|      Thailand|
| 17|  Gertrude|Feldberger|gfeldbergerg@zimb...|       null|           null|      Colombia|
| 18|   Giorgia|    Bridat| gbridath@discuz.net|       null|           null|        Poland|
| 19|    Gunter|   Curphey| gcurpheyi@alexa.com|       null|           null|         Chile|
| 20|  Kimberli|     Mebes|  kmebesj@discuz.net|       null| 104.251.52.175|        Poland|
+---+----------+----------+--------------------+-----------+---------------+--------------+